/* Coded by Oto */

/***********************
    Global Properties
***********************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/***********************
    Main Layout
***********************/

body {
  width: 100vw;
  height: 100vh;
}

.game,
.won {
  /* responsive widths and heights */
  width: 60vmin;
  height: 75vmin;
  min-width: 280px;
  min-height: 350px;

  /* center on page */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.game {
  /* layout for game-header and cards-area */
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.won {
  display: none;
  text-align: center;
}

.won-message-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.again-button  {
  background-color: #2ce6c1;
  color: white;
  border: none;
  outline: none;
  margin-top: 2vmin;
  padding: 2vmin 4vmin;
  text-align: center;
  text-decoration: none;
  font: 600 2vmin "Open Sans", sans-serif;
}

.again-button:active {
  background-color: #e75a4b;
}

.game-header {
  height: 20%;
  text-align: center;
}

.game-metrics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1.5vmin;
}

.stars,
.moves-counter,
.timer,
.restart, {
  width: 20%;
}

.restart:hover {
  font-weight: 600;
}

.cards-area {
  height: 80%;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  background: linear-gradient(135deg, #25ceba, #b07bd2);

  /* CSS Grid Layout for cards */
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vmin;
  padding: 2vmin;
}

/***********************
    Cards
***********************/

.card-container {
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
}

.card-wrapper,
.front,
.back {
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  width: 100%; /* places transform-origin at w center of wrapper */
  height: 100%; /* places transform-origin at h center of wrapper */
  position: absolute; /* removes 3D object from document flow */
}

.card-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; /* lets .front & .back inherit 3D space */
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; /* hides back side of 3D object */
}

.front {
  background-color: #2a3e4b;
}

.back {
  background-color: #23c9e3;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/** center text in cards **/
.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flip {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/***********************
    Typography
***********************/

.game-name {
  font-size: 5vmin;
  padding-top: 1.5vmin;
}

.card-text {
  font-size: 2em;
  color: white;
  text-transform: uppercase;
}

.won-heading {
  font: 600 4vmin "Open Sans", sans-serif;
  margin-bottom: 2vmin;
}

.won p {
  font-size: 2vmin;
}

.right {
  background-color: #2ce6c1;
}
