/* Coded by Oto */

/***********************
    Global Properties
***********************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/***********************
    Main Layout
***********************/

body {
  width: 100vw;
  height: 100vh;
}

.game {
  /* responsive widths and heights */
  width: 60vmin;
  height: 75vmin;
  min-width: 280px;
  min-height: 350px;

  /* center on page */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* layout for game-header and cards-area */
  display: flex;
  flex-direction: column;
}

.game-header {
  height: 20%;
  text-align: center;
}

.cards-area {
  height: 80%;
  border-radius: 2%;
  background: linear-gradient(135deg, #25ceba, #b07bd2);

  /* CSS Grid Layout for cards */
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vmin;
  padding: 2vmin;
}

/***********************
    Cards
***********************/

.card-container {
  position: relative;
  perspective: 900px;
}

.card-wrapper,
.front,
.back {
  border-radius: 10%;
  width: 100%; /* places transform-origin at w center of wrapper */
  height: 100%; /* places transform-origin at h center of wrapper */
  position: absolute; /* removes 3D object from document flow */
}

.card-wrapper {
  transform-style: preserve-3d; /* lets .front & .back inherit 3D space */
  transition: transform 1s;
}

.front,
.back {
  backface-visibility: hidden; /* hides back side of 3D object */
}

.front {
  background-color: #2a3e4b;
}

.back {
  background-color: #23c9e3;
  transform: rotateY(180deg);
}

/** center text in cards **/
.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-wrapper:active {
  transform: rotateY(180deg);
}

/***********************
    Typography
***********************/

.game-name {
  font-size: 5vmin;
  padding-top: 1.5vmin;
}

.card-text {
  font-size: 1em;
  color: white;
  text-transform: uppercase;
}
